<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninemm.knowledge"
    android:versionCode="102"
    android:versionName="1.02" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/title"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ninemm.knowledge.SelectPageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
        android:name="com.ninemm.knowledge.ListContentActivity"
         >
        </activity>
        <activity android:name="com.ninemm.knowledge.MainActivity" >
        </activity>
        <activity android:name="com.ninemm.knowledge.KnowDetailActivity" >
        </activity>
        <activity android:name="com.umeng.fb.ConversationActivity"/>
		<activity android:name="com.umeng.fb.ContactActivity"/>
		
        <meta-data android:value="525419d956240bbf9638004c" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="KNOWLEDGE_Lenovo" android:name="UMENG_CHANNEL"/>
        <!-- 
		<meta-data android:value="KNOWLEDGE_Baidu" android:name="UMENG_CHANNEL"/>
		<meta-data android:value="KNOWLEDGE_360" android:name="UMENG_CHANNEL"/>
		<meta-data android:value="KNOWLEDGE_TEST" android:name="UMENG_CHANNEL"/>
         -->
    </application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
</manifest>
